body,
h1,
h2,
h3,
h4,
h5,
h6,
li {
  	font-size: 13px;
  	font-family: "ff-dagny-web-pro", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  	line-height: 19px;
  	margin-bottom: 0px;
}

hr {
  	border-top: 1px solid #ccc;
  	border-bottom: 1px solid #fff;
}

footer {
	font-size: 11px;
	margin-top: 20px;
}
.no-margin-top{
	margin-top: 0px;
}

.no-margin-bottom{
	margin-bottom: 0px;
}

.player{
	margin-bottom: 20px;
}

.positive-review{
	color: #E6563A;
	font-size: 8px;
}

.purchase-link{
	width: 120px;
}

.title{
	font-size: 24px;
	font-weight: 400;
	margin: 10px 0;
}

.sub-title{
	font-weight: 700;
}


/* colors */
.grey{
	color: #999;
}

.light-grey{
	color: #f1f1f1;
}

.orange{
	color: #E6563A;
}

/* buttons */


a.button {
	display: block;
	padding: 10px 0;
	width: 136px;
	color: #222;
	font-size: 13px;
	text-align: center;
	text-decoration: none;

	background: transparent;
	border: 2px solid #E6563A;
	cursor: pointer;
	
	-webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-ms-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	transition: all .2s ease-in;
}

a.button:hover {
	background: #E6563A;
	color: white;
	text-decoration: none;
}

/* logo */
.logo{
	height: 60px;
	margin-bottom: 0px;
	font-size: 36px;
	line-height: 60px;
}

.logo > a, .logo > a:hover{
	color: #222;
	text-decoration: none;
}

.logo > a > .orange{
	color: #222;

	-webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -ms-transition: color 0.2s linear;
    transition: color 0.2s linear;
}

.logo > a:hover > .orange{
	color: #E6563A;
}

.logo > a:hover{
	color: #222;
}

/* navbar */
.navigation {
	background: white;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	height: 60px;
	width: 100%;
	margin-bottom: 20px;
	*position: relative;
  	*z-index: 2;
}

.search-box{
	border-left: 2px solid #ccc;
	border-right: 1px solid #ccc;
	margin-left: 17px;
}

input.search-query{
	font-size: 15px;
}

form.form-search{
	margin: 0;
}

input.search-query{
	border: 0;
	height: 60px;
}

/* actor portrait*/

.portrait{
	border: 1px solid #ccc;
	margin-bottom: 20px;
}

/* Thumbnails */
.thumbnail{
  	padding: 0px;
  	border: 0px;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
  	-webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    -webkit-transition: none;
       -moz-transition: none;
         -o-transition: none;
            transition: none;
}

.thumbnail > a > img {
	height: 207px;
	width: 139px;
	margin-right: 0;
	margin-left: 0;
	border: 1px solid #ccc;
}

li.no-margin-bottom{
	margin-bottom: 0px;
}
.thumbnail .caption {
	padding: 9px 0px 9px 0px;
}

.thumbnail .caption p {
	margin-bottom: 0px;
	text-align: left;
}

.thumbnail .caption p+p {
	text-align: left;
}

/* search results */
.search-title{
	font-weight: 400;
	margin-bottom: 10px;
}

.search-thumbnail{
	height: 207px;
	width: 139px;
	border: 1px solid #ccc;
}

.search-summary{
	font-size: 14px;
}

ul.inline li {font-size: 14px;}
ul.inline li:after{ content: " \2022 "; margin-left:6px; }
ul.inline li:first-child {padding-left: 0px; }
ul.inline li:last-child:after { content: ""; }

