{% extends "gallery.html" %}

{% import 'actor_helpers.html' as helper %}

{% block meta_tags %}
  <title>{{ g.actor.name | title }} Movie Trailers | Too Long; Didn't Watch</title>
  <meta name="description" content="{{ g.actor.name | title }} Actor: {{ g.movies[0].title }}. {{ g.actor.biography }}">
{% endblock %}

{% block left_sidebar %}
  <p><b>Sort by</b></p>
  <ul class="unstyled">
    {{ helper.render_sort_links(g.actor, g.possible_sorts, g.current_sort) }}
  </ul>
{% endblock %}

{% block gallery %}
  <ul class="thumbnails">
    {% for movie in g.movies %}
      {{ helper.render_thumbnail(movie) }}
    {% endfor %}
  </ul>
{% endblock %}

{% block right_sidebar %}
  {% if g.actor.biography %}
    <hr>
    {% if g.actor.picture %}
      <img class="portrait" src="{{ g.actor.picture }}" alt="{{ g.actor.name }}">
    {% endif %}
    <p><b>{{ g.actor.name }}</b></p>
    <p id="biography">{{ g.actor.biography }}</p>
    <hr>
  {% endif %}
{% endblock %}

{% block footer %}
  <div class="span8 offset2">
    <div class="row">
      <div class="span2">
        {{ helper.render_next_previous(g) }}
      </div>
      <div class="span2 offset4">
        Page {{g.page}}
      </div>
    </div>
    <hr>
  </div>
{% endblock %}