{% extends "base.html" %}

{% block meta_tags %}
  <title>{{ g.title | title }} Movie Trailers | Movie Trailers</title>
  <meta name="description" content="Watch {{ g.current_sort }} movie trailers of recent and award-winning {% if g.current_genre %} {{ g.current_genre }} {% elif g.actor %} by {{ g.actor.name | title }}{% endif %} movies online. Many movie trailers are available in high-quality HD and iphone versions">
{% endblock %}

{% block content %}
  <div class="row">
    <div class="span8 offset2">
      <h1 class="title">{{ g.title | title }} Movie Trailers</h1>
    </div>
  </div>
  <div class="row">
    <div class="span2">
      <hr>
      {% block sidebar %}
      {% endblock %}
      <hr>
    </div>
    <div class="span8">
      <hr>
      {% block gallery %}
      {% endblock %}
      <hr class="no-margin-top">
    </div>
  </div>
  <div class="row">
    {% block footer %}
    {% endblock %}
  </div>
{% endblock %}