{% extends "gallery.html" %}

{% import 'gallery_helper.html' as helper %}

{% block sidebar %}
  <p><b>Sort by</b></p>
	<ul class="unstyled">
		{{ helper.render_sort_links(g.current_genre, g.possible_sorts, g.current_sort) }}
	</ul>
	<hr>
  <p><b>Genres</b></p>
	<ul class="unstyled">
		{{ helper.render_genre_links(g.possible_genres, g.current_genre, g.current_sort) }}
	</ul>
{% endblock %}

{% block gallery %}
  <ul class="thumbnails">
    {% for movie in g.movies %}
      {{ helper.render_thumbnail(movie) }}
    {% endfor %}
  </ul>
{% endblock %}

{% block footer %}
  <div class="span2 offset2">
      {{ helper.render_next_previous(g) }}
  </div>
  <div class="span2 offset4">
      Page {{g.page}}
  </div>
{% endblock %}