{% import 'common_helpers.html' as helper %}

{% macro render_purchase_link(movie) %}
  <div class="btn-group">
    <button class="btn btn-danger"><a href="{{ movie.instant_watch_purchase_link}}" target="_target">
      Watch Instantly</a></button>
    <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="{{ movie.dvd_purchase_link}}" target="_blank">Buy DVD</a></li>
      <li><a href="{{ movie.bluray_purchase_link }}" target="_blank">Buy-Bluray</a></li>
    </ul>
  </div>
{% endmacro %}

{% macro render_review(review, is_last) %}
	<div class="block">
      {% if review.freshness == "fresh" %}
        <p><b>{{ review.publication }}</b><span class="positive-review pull-right">&ctdot;</span></p>
      {% else %}
        <p><b>{{ review.publication }}</b></p>
      {% endif %}
      <p>{{ review.quote }}</p>
      <p><small><i>by &nbsp;<a href="{{ review.review_link }}" target="_blank">{% if review.critic %} {{ review.critic }} {% else %} Movie Critic {% endif %}</a></i></small></p>
      {% if is_last == False %}
        <p>&mdash;</p>
      {% endif %}
    </div>  
{% endmacro %}

{% macro render_similar_movies(similar_movies) %}
  {% for movie in similar_movies %}
    <li class="span2">
      <div class="thumbnail">
        <a href="{{ movie.url }}"><img alt="{{ movie.title }}" src="{{ movie.thumbnail }}"></a>
        <div class="caption">
          <p><a href="{{ movie.url }}">{{ movie.title | truncate(19, True) }}</a></p>
          <p>{{ movie.release_date.year }}</p>
        </div>
      </div>
    </li>
  {% endfor %}
{% endmacro %}

{% macro render_trailer_links(movie, current_index) %}
  {% for trailer in movie.trailers %}
    {{ helper.render_sidebar_link(loop.index, current_index, ("/movie-trailer/" + movie.url_title + "/" + loop.index | string), alt_display=("trailer " + loop.index | string)) }}
  {% endfor %}
{% endmacro %}

{% macro render_purchase_links(movie) %}
  {% if movie.purchase_links.get("DVD") %}
    <li><a href="{{ movie.purchase_links.get('DVD') }}" target="_blank">Buy DVD</a></li>
  {% else %}
    <li class="grey">Buy DVD</li>
  {% endif %}
  {% if movie.purchase_links.get("Blu-ray") %}
    <li><a href="{{ movie.purchase_links.get('Blu-ray') }}" target="_blank">Buy Blu-ray</a></li>
  {% else %}
    <li class="grey">Buy Blu-ray</li>
  {% endif %}
  {% if movie.purchase_links.get("Amazon Instant Video") %}
    <li><a href="{{ movie.purchase_links.get('Amazon Instant Video') }}" target="_blank">Watch Instantly</a></li>
  {% else %}
    <li class="grey">Watch Instantly</li>
  {% endif %}
{% endmacro %}