{% import 'common_helpers.html' as helper %}

{% macro render_review(review, is_last) %}
	<div class="block">
      {% if review.freshness == "fresh" %}
        <p><b>{{ review.publication }}</b><span class="positive-review"> &nbsp; <i class="icon-heart"></i></span></p>
      {% else %}
        <p><b>{{ review.publication }}</b></p>
      {% endif %}
      <p>{{ review.quote }}</p>
      <p><small><i>by &nbsp;<a href="{{ review.review_link }}" target="_blank">{% if review.critic %} {{ review.critic }} {% else %} Movie Critic {% endif %}</a></i></small></p>
      {% if is_last == False %}
        <p>&mdash;</p>
      {% endif %}
    </div>  
{% endmacro %}

{% macro render_similar_movies(similar_movies) %}
  {% for movie in similar_movies %}
    <li class="span2 no-margin-bottom">
      <div class="thumbnail">
        <a href="{{ movie.url }}"><img alt="{{ movie.title }}" src="{{ movie.thumbnail }}"></a>
        <div class="caption">
          <p><a href="{{ movie.url }}">{{ movie.title | truncate(19, True) }}</a></p>
          <p class="grey">{{ movie.release_date.year }}</p>
        </div>
      </div>
    </li>
  {% endfor %}
{% endmacro %}

{% macro render_trailer_links(movie, current_index) %}
  {% for trailer in movie.trailers %}
    {{ helper.render_sidebar_link(loop.index, current_index, ("/movie-trailer/" + movie.formatted_title + "/" + loop.index | string), alt_display=("trailer " + loop.index | string)) }}
  {% endfor %}
{% endmacro %}

{% macro render_purchase_links(movie) %}
{% if movie.purchase_links.get("Amazon Instant Video") %}
    <li><a href="{{ movie.purchase_links.get('Amazon Instant Video') }}" target="_blank">Online</a> &mdash; <span class="orange">${{ "%.2f" % movie.purchase_price.get("Amazon Instant Video") }}</span></li>
  {% else %}
    <li class="grey">Online</li>
  {% endif %}
  {% if movie.purchase_links.get("DVD") %}
    <li><a href="{{ movie.purchase_links.get('DVD') }}" target="_blank">DVD</a> &mdash; <span class="grey">${{ "%.2f" % movie.purchase_price.get('DVD') }}</span></li>
  {% else %}
    <li class="grey">DVD</li>
  {% endif %}
  {% if movie.purchase_links.get("Blu-ray") %}
    <li><a href="{{ movie.purchase_links.get('Blu-ray') }}" target="_blank">Blu-ray</a> &mdash; <span class="grey">${{ "%.2f" % movie.purchase_price.get('Blu-ray') }}</span></li>
  {% else %}
    <li class="grey">Blu-ray</li>
  {% endif %}
{% endmacro %}